<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% if title %}
        <title>{{ title }} - Crosscheck</title>
    {% else %}
        <title>Crosscheck</title>
    {% endif %}
</head>
<body>
    <div id="formWrapper">
        <div id="form">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}

            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>